include /mixins/forms.pug

doctype html
html(lang="en")
  head
    title= Title
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    script(src='/assets/main.js')
    script(src='/assets/vendor.js')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand.mr-4(href="/") Task Manager
      button.navbar-toggler(
        type = "button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      )
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link.text-light(href=urlFor('users')) Users
          li.nav-item
        ul.navbar-nav
          if isSignedIn()
            form.form-inline.d-inline-block(action= urlFor('session') method='post')
                input(name='_method' type='hidden' value='delete')
                button.btn.btn-outline-light(type='submit') Sign Out
          else
            li.nav-item
              a.nav-link.text-light.mr-2(href=urlFor('newSession')) Sign In
            li.nav-item
              a.btn.btn-outline-light(href=urlFor('newUser')) Sign Up
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-info.m-3= msg
      .mt-5
        block content
