extends /layouts/application.pug

block content
  .row.bg-light.pt-2.px-2
    .col-0.col-md-2
    .col-12.col-md-5
      nav
        ol.breadcrumb.bg-light
          li.breadcrumb-item.disabled.font-weight-light "project name"
          li.breadcrumb-item.font-weight-light= task.name
  .row.mx-5.my-1
    .col-0.col-md-2
    .col-12.col-md-9
      .row.h3.mb-0= task.name
        p.text-muted.mb-1= `#${task.id}`
      .row.mt-0
        a(href= urlFor('showUser', { id: task.creator.id }))= task.creator.fullName
        p.pl-1= `created this task on ${formatDate(task.createdAt)}`
      .row.ml-n4
        .col-12.col-md-9
          .card
            .card-header.text-muted= `last update on ${formatDate(task.updatedAt)}`
            .card-body= task.description
        .col-12.col-md-3
          ul.list-group.list-group-flush
            li.list-group-item
              .row.text-muted Assignee
              .row.mt-2
                a(href= urlFor('showUser', { id: task.assignee.id }))= task.assignee.fullName
            li.list-group-item
              .row.text-muted Tags
              each tag in task.Tags
                .row.mt-2
                  a.badge.badge-info(href= urlFor('tasks', { query: { tagsQuery: tag.name } }))= `${tag.name}`
            li.list-group-item
              .row.text-muted Due date
              if task.dueDate
                .row.mt-2= formatDate(task.dueDate)
              else
                .row.mt-2 None yet
            if isSignedIn()
              li.list-group-item.ml-0
                .row
                  a.btn.btn-secondary.btn-sm(href= urlFor('taskEdit', { id: task.id }) method='get' rel='nofollow') Edit
              li.list-group-item.ml-0
                .row
                  - const target = `task${task.id}`;
                  button.btn.btn-sm.btn-danger(type='button' data-toggle='modal' data-target= `#${target}`) Delete
                  +modal({ target, name: 'task', url: urlFor('deleteTask', { id: task.id  }) })
