extends /layouts/application.pug

block content
  .row.bg-light.pt-2.px-2
    .col-0.col-md-2
    .col-12.col-md-5
      nav
        ol.breadcrumb.bg-light
          li.breadcrumb-item
            a(href= urlFor('users')) Users
          li.breadcrumb-item.font-weight-light= user.fullName
  .row.mx-5.my-1
    .col-0.col-md-2
    .col-12.col-md-9.my-3
      .row.h3.mb-0= user.fullName
      .row.ml-n4.my-3
        .col-12.col-md-9
          .card
            .card-header.text-muted= `user personal info`
            .card-body info
        .col-12.col-md-3
          ul.list-group.list-group-flush
            li.list-group-item
              .row.text-muted E-mail
              .row.mt-2= user.email
            li.list-group-item
              .row.text-muted Tasks
              .row.mt-2
                a(href= urlFor('tasks', { query: { creatorId: user.id } }))= `Tasks created by ${user.firstName}`
              .row.mt-2
                a(href= urlFor('tasks', { query:  { assigneeId: user.id } }))= `Tasks assigned to ${user.firstName}`
